@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap");
.btn__preset, .subtitle {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
}

.lastresults__row, .btn__clear, .result__message, .date__input, .form-item input[type=radio] + label, .title-wrapper .title {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
}

.lastresults__header {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
}

.time-form__calculate {
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Nunito", "sans-serif";
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: auto;
}

*,
fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  padding: 0;
}

.title-wrapper {
  background: #EEF0FF;
  border-bottom: 1px solid rgba(68, 76, 155, 0.2);
  padding: 70px 100px;
}
.title-wrapper .title {
  font-size: 48px;
  line-height: 65px;
}

.subtitle {
  font-size: 24px;
  line-height: 33px;
  color: #2A3042;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  background: #EEF0FF;
}

.calculator-block {
  width: 50%;
  padding: 50px;
}

.dates-wrapper,
.options-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 20px 32px rgba(139, 146, 204, 0.15);
  border-radius: 24px;
  padding: 40px;
  margin-bottom: 20px;
}

.form-item__dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-item__preset {
  text-align: end;
}
.form-item__days {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}
.form-item__units {
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 1px solid rgba(68, 76, 155, 0.2);
}
.form-item input[type=radio] + label {
  font-size: 14px;
  line-height: 19px;
  padding: 12px 20px;
}
.form-item input[type=radio]:checked + label {
  background-color: #FFDAE7;
  border-radius: 48px;
}

.date__input {
  font-size: 14px;
  line-height: 19px;
  color: #444C9B;
  background: #DADDF7;
  border-radius: 48px;
  padding: 12px 40px;
  margin-bottom: 10px;
}

.btn__preset {
  font-size: 14px;
  line-height: 19px;
  color: #444C9B;
  opacity: 0.8;
  background-color: #EEF0FF;
  border-radius: 48px;
  padding: 12px;
  margin-left: 20px;
}

.time-form__calculate {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 140px;
  background: #444C9B;
  border-radius: 48px;
  display: block;
  margin: 0 auto;
}

.result__message {
  background-color: transparent;
  font-size: 14px;
  line-height: 19px;
  color: #444C9B;
  border-radius: 48px;
  padding: 12px 40px;
}

.btn__clear {
  background-color: transparent;
  font-size: 14px;
  line-height: 19px;
  color: #FF206E;
  float: right;
}
.btn__clear svg {
  margin-right: 5px;
}

.lastresults-block {
  width: 50%;
  padding: 50px;
  margin-bottom: 20px;
  text-align: left;
}
.lastresults-block .subtitle {
  padding-left: 10px;
  padding-bottom: 30px;
}

.lastresults__header {
  font-size: 14px;
  line-height: 19px;
  color: #444C9B;
}
.lastresults__header th {
  width: 25%;
  padding: 20px 0 20px 10px;
}

.lastresults__row {
  font-size: 14px;
  line-height: 19px;
  color: #444C9B;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.lastresults__row td {
  width: 25%;
  padding: 20px 0 20px 10px;
}
.lastresults__row .selected__day,
.lastresults__row .lastresults {
  max-width: 50px;
}
.lastresults__row_first {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(139, 146, 204, 0.1);
}
.lastresults__row_first td:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.lastresults__row_first td:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

@media all and (min-width: 990px) and (max-width: 1199.98px) {
  .calculator-block,
  .lastresults-block {
    padding: 20px;
  }
  .dates-wrapper,
  .options-wrapper {
    padding: 20px;
  }
}
@media all and (max-width: 989.98px) {
  .title {
    text-align: center;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calculator-block {
    width: 75%;
    border-bottom: 1px solid rgba(68, 76, 155, 0.2);
  }
  .lastresults-block {
    width: 75%;
    position: relative;
  }
  .lastresults__clear {
    position: absolute;
    top: 95%;
    right: 40px;
  }
}
@media all and (max-width: 767.98px) {
  .lastresults-block,
  .calculator-block {
    width: 100%;
    padding: 40px;
  }
}
@media all and (max-width: 559.98px) {
  .title-wrapper {
    padding: 10px;
  }
  .lastresults-block,
  .calculator-block {
    width: 100%;
    padding: 20px;
  }
  .dates-wrapper,
  .options-wrapper {
    padding: 20px 15px;
    margin-bottom: 10px;
  }
  .form-item {
    margin-bottom: 20px;
  }
  .form-item__dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .form-item__preset {
    text-align: left;
    margin-bottom: 0;
  }
  .form-item__units {
    padding-bottom: 20px;
  }
  .form-item input[type=radio] + label {
    padding: 10px 15px;
  }
  .btn__preset:first-child {
    margin-left: 0;
  }
  .time-form__calculate {
    padding: 12px 60px;
  }
  .lastresults__clear {
    right: 20px;
  }
  .lastresults__header {
    font-size: 12px;
  }
  .lastresults__header th {
    padding: 20px 0 20px 2px;
  }
  .lastresults__row {
    font-size: 12px;
  }
  .lastresults__row td {
    padding: 20px 0 20px 5px;
  }
}/*# sourceMappingURL=styles.css.map */